body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: pink;
}
header{
    background-color:pink;
    height: auto;
}
nav-bar{
    position: relative;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    display: block;
    border-radius: 1rem;
    box-shadow: 0 4px 12px #000000;
}
nav-container{
    width: 100%;
    background-color: rgb(255, 148, 166);
    margin: 0;
    overflow: hidden;
    display: block;
    font-size: 14px;
    height: auto;
}
nav-logo h2{
    font-family: "Spicy Rice", serif;
    font-weight: lighter;
}
nav-logo{
    margin-left:0;
    float: left;
    width: 40%;
    height: 50px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 0px;
    padding-left: 5px;
    margin-top: 0;
}
nav-item{
    font-family: "Spicy Rice", serif;
    font-size: larger;
    font-weight: lighter;
    margin-right: 0;
    float: left;
    width: 59.6%;
    height: 50px;
    padding-top: 20px;
    display: flex;
}
.navlinks{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    gap: 2rem;
}
.navlink:hover{
    background-color: #ffacac;
    color: white;
    border-radius: 0.5rem;
}
ul{
    list-style-type: none;
}
li{
    list-style-type: none;
}
.navlink a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
    letter-spacing: 0.2px;
    padding: 0 10px;
}
nav-item a::after{
    content: "";
    position: absolute;
    background-color: #C96868;
    height: 3px;
    border-radius: 0.5px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
nav-item a:hover::after{
    width: 100%;
}
section p{
    font-family: "EB Garamond", serif;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
}
section h2{
    font-family: "Spicy Rice", serif;
    font-weight: lighter;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.wrapper{
    padding: 10px 10%;
}
.box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}
.box{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 20px black;
    height: auto;
    transition: 1s;
}
.box:hover{
    transform: scale(1.1);
    z-index: 2;
}
.box img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}
.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent,#ff869d 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.overlay h2{
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
}
.box:hover .overlay{
    height: 100%;
}
h3{
    text-align: center;
    font-family: "Spicy Rice", serif;
    font-size: 40px;
    color: white;
    font-weight: lighter;
    margin: 0;
    text-shadow: 3px -2px 20px #C96868;
}
header h1{
    text-decoration: wavy;
    position: absolute;
    font-size: 100px;
    left: 200px;
    top: 160px;
    color: #ff869d;
    font-family: "Spicy Rice", serif;
    font-weight: 1000px;
    font-style: normal;
    text-shadow: 3px -2px 24px #000000;
}
.figurepin{
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 100%;
    height: 500px;
    margin-top: 20px;
}
.figure1{
    float: left;
    margin: 10px;
    padding: 10px;
}
article p{
    font-size: 15px;
}
h4{
    float: left;
    margin: 0;
    margin-top: 5px;
    margin-left: 5px;
}
article{
    background-color: rgb(218, 109, 131);
    width: 830px;
    height: auto;
    margin-left: 415px;
    padding: 5px;
    border-radius: 16px;
    margin-bottom: 10px;
}
container-event{
    width: 80%;
    height: 100%;
    margin: auto;
    padding-top: 10px;
}
footer{
    background-color: rgba(250, 133, 145, 0.779);
    color: white;
    text-align: center;
    padding: 1em 0;
}
container-news{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    font-family: "Spicy Rice", serif;
    font-size: 40px;
    color: white;
    font-weight: lighter;
    margin: 0;
    text-shadow: 3px -2px 20px #C96868;
    width: 90%;
    height: auto;
    margin-top: 10px; 
    margin-bottom: 10px; 
    padding: 10px; 
    margin-left: 80px
}
.container{
    width: 70%;
    height: auto;
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    display: grid;
    justify-content: space-between;
}
.pageTitle{
    display: flex;
    align-items: center;
    height: max-content;
    margin: 0 0 20px 0;
    width: auto;
    display: block;
    height: auto;
    padding: 3px 0px 8px;
    font-size: 50px;
    color: #C96868;
    position: relative;
    margin-bottom: 20px;
    left: -1.5px;
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.9;
    letter-spacing: 2px;
    padding-left: 150px;
}
container-us{
    width: 100%;
    height: auto;
}
container-us p{
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 150px;
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
}
.entryarea{
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    align-content: center;
    padding-left: 80px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    float: right;
    flex-wrap: nowrap;
}
container{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card1{
    width: 16%;
    border-style: groove;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    margin: 15px 5px 20px 5px;
    padding: 15px 40px;
    background-color: rgb(235, 163, 175);
    float: left;
    margin-left: 4%;
    text-align: center;
    text-decoration: wavy;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    position: relative;
    z-index: 0;
    margin-right: 4%;
    border: none;
    outline: none;
}
.card1::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(235, 145, 163);
    left: 0;
    top: 0;
    border-radius: 10px;
}
.card1::before{
    content: "";
    background: linear-gradient(
        45deg,
        #ffb560, #ea7765, #f88282, #FFCFB3, 
        #C96868, #FF9874, #e88bd7, #d8a263
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 600%;
        z-index: -1;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        filter: blur(8px);
        animation: glowing 20s linear infinite;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
        opacity: 0;
}

@keyframes glowing{
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
.card1:hover::before{
    opacity: 1;
}
.card1:active::after{
    background: transparent;
}
.card1:active{
    color: #000000;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: rgb(214, 3, 101);
}
.banner-card{
    position: relative;
}
.banner-card img{
    max-width: 100%;
    height: auto;
    width: 80%;
    border-radius: 20px;
    align-items: center;
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    filter: brightness(0.5);
}
.banner-text{
    position: absolute;
    top: 10%;
    color: #ff869d;
    height: auto;
    width: 80%;
    text-align: justify;
    margin-left: 100px;
    font-weight: bold;
    justify-content: space-around;
    display: inline;
}
.banner-text:hover{
    color: white;
    text-shadow: 3px -2px 20px black;
    cursor: pointer;
}
.banner-text h3{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: "Spicy Rice", serif;
    color: #ff869d;
    margin: 10px;
}
.container-banner{
    width: 80%;
    height: auto;
    margin: auto;
    padding-bottom: 4%;
}
.banner-text p{
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    justify-content: space-between;
    line-height: 130%;
}
container-us{
    width: 80%;
    margin: auto;
    height: auto;
    display: block;
}
article-act{
    width: 100%;
    height: auto;
    background-color: #E78F81;
    display: inline-block;
    box-shadow: 2px -2px 20px black;
    border-top-left-radius: 8%;
    border-bottom-right-radius: 8%;
    margin-top: 25px;
    margin-bottom: 35px;
}
article-act video{
    float: left;
    border-radius: 10%;
    margin: 10px;
}
article-act h4{
    font-family: "Spicy Rice", serif;
    font-size: 50px;
    font-weight: lighter;
    color: crimson;
    margin-right: 120px;
}
article-act img{
    float: left;
    border-radius: 10%;
    margin: 10px;
}
container-apply{
    width: 80%;
    height: auto;
    display: block;
    margin-right: 10%;
    margin-left: 10%;
}
section-apply{
    display: inline-block;
    width: 100%;
    height: auto;
}
section-apply p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 2px;
}
container-al{
    width: 80%;
    height: auto;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}
section-al{
    width: 100%;
    height: auto;
    display: inline-block;
}
.card-al{
    background-color: rgb(216, 56, 88);
    width: 200px;
    height: auto;
    border-radius: 7%;
    float: left;
    padding: 10px;
    margin: 15px;
    transition: 1s;
}
.card-al:hover{
    transform: scale(1.3);
    z-index: 2;
}
.card-al img{
    width: 200px;
    height: auto;
    align-items: center;
    border-radius: 5%;
}
.card-al h4{
    text-align: center;
    font-size: 20px;
    font-family: "Spicy Rice", serif;
    font-weight: lighter;
    float: none;
    color: #000000;
}
container-alumni{
    width: 80%;
    height: auto;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}
section-alumni{
    width: 100%;
    height: auto;
    display: inline-block;
    float: left;
}
section-alumni h3{
    float: left;
    font-size: 50px;
    font-weight: lighter;
    color: rgb(216, 56, 88);
    text-shadow: none;
    font-family: "Spicy Rice", serif;
    margin-right: 100%;
}
section-alumni p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 2px;
}
container-academic{
    width: 80%;
    height: 100%;
    display: inline;
    margin-right: 10%;
    background-color: #e88bd7;
}
section-ac{
    height: 100%;
    display: inline-block;
    float: left;
    margin-left: 10%; 
    margin-right: 10%;
    padding-left: 30px;
}
card-text{
    width: 210px;
    background-color: #ffac9f;
    display: inline-block;
    height: auto;
    margin: 10px;
    padding: 5px;
    border-radius: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
card-text p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 1px;
    justify-content: space-between;
    text-align: center;
}
card-text h4{
    font-size: 25px;
    text-align: center;
    float: none;
    font-family: "Spicy Rice", serif;
    font-weight: lighter;
    color: #b84646;
}
header-box h6{
    font-family: "Spicy Rice", serif;
    margin-left: 40px;
    font-weight: 600;
    font-size: 45px;
    color: #ea8497;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}
.login-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 30px;
}
.login-header{
    text-align: center;
    margin: 0 0 40px 0;
}
.login-header header-box{
    color: black;
    font-size: 30px;
    font-weight: 600;
}
.input-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 5px 10px 1px rgb(221, 217, 217);
    transition: .3s;
}
::placeholder{
    font-weight: 500;
    color: black;
}
.input-field:focus{
    width: 105%;
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
section-box{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #b84646;
    margin-left: 40px;
}
#check{
    margin-right: 10px;
}
.login-box a{
    text-decoration: none;
}
.login-box a:hover{
    text-decoration: underline;
}
section-box a{
    color: #E78F81;

}
.input-submit{
    position: relative;
}
.submit-btn{
    width: 150px;
    height: 60px;
    margin-left: 50px;
    background: #E78F81;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #c73b55;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 100%;
    margin-left: 95px;
}
.submit-btn:hover{
    background: #ffacac;
    transform: scale(1.05,1);
}
.sign-up-link{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sign-up-link a{
    color: #b84646;
    font-weight: 600;
}
.sign-up-link p{
    margin-left: 40px;
}
.card-al p{
    margin-top: 0;
    margin-bottom: 0;
    color: #ea8497;
    font-family: "Spicy Rice", serif;
}
.card-al a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.section-dame{
    width: 100%;
    height: 350px;
}
.section-dame img{
    float: left;
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 200px;
    border-radius: 10%;
}
.section-dame h4{
    width: 700px;
    font-family: "Spicy Rice", serif;
    font-weight: lighter;
    font-size: 60px;
    color: #b84646;
}
.section-dame p{
    width: 1050px;
    font-family: "EB Garamond", serif;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 1px;
}
.back-page{
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 60px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    transition: .3s;
    margin-left: 20%;
    font-family: "EB Garamond", serif;
    letter-spacing: 2px;
    font-size: 23px;
    margin-bottom: 20px;
}